body, form, p, table, td, th {
    color: #ffff ! important;
    background-color: #333 ! important;
}
#side-panel .task-link {
    color: #fff;
}
.pane.build-details a, .pane.build-details a:visited {
    color: white;
    opacity: 0.6;
    text-decoration: none;
}
.cbwf-dialog {
    border-radius: 4px;
    border: solid 1px #d7d7d7;
    background-color: #666;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 999em, rgba(0, 0, 0, 0.25) 0 0 0 1px, rgba(0, 0, 0, 0.33) 0 3px 10px;
}

.cbwf-dialog .header {
    border-radius-topleft: 4px;
    border-radius-topright: 4px;
    background-color: #666;
    padding: 7px 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.cbwf-stage-logs .node-name {
    padding: 5px 10px;
    background-color: #666;
    border-radius: 4px;
    cursor: pointer;
}
